﻿@model IEnumerable<HospitalProject.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<div class="recadd">
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Add Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
        <div>
            @Html.ActionLink("Add an Event", "Create", "Event")
        </div>
    }

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>

            <td>
                @if (item.AdminID.ToString() == id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID, adminid = item.AdminID })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID, adminid = item.AdminID })
                }
            </td>
        </tr>
    }
</table>
