﻿@model IEnumerable<HospitalProject.Models.VaccinationAlerts>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VaccinationNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccinationAlertsid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VaccinationAlertsid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccinationAlertsid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
