﻿@model HospitalProject.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h1 style="display:none;">The Associated User ID is @Model.AdminID</h1>
<div class="promptlink">
    @if ((string)ViewData["UserIsAdmin"] == "True")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID })
    }
</div>

<div class="promptlinkleft">
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    <h2>@Model.FirstName  @Model.LastName</h2>
</div>