﻿@model IEnumerable<HospitalProject.Models.FindSpecialist>
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Index</h2>

<div class="title btn-md">@Html.ActionLink("Add a Specialist", "Create")</div>

<div class="reccontainer" style="overflow:hidden;">
    <div>@ViewData["PaginationSummary"]
    @Html.ActionLink("Prev","List","FindSpecialist", new { pagenum = ((int)ViewData["pagenum"] - 1)  }
    ) | @Html.ActionLink("Next","List","Findpecialist", new { pagenum = ((int)ViewData["pagenum"]+1) }
    )

    </div>

</div>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-12" style="border: 1px solid #cecece; border-radius:15px; margin: 10px;">
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.SpecialistFName):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.SpecialistFName)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.SpecialistLName):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.SpecialistLName)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.Phone):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.Phone)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.Gender):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.Gender)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.Speciality):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.Speciality)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.AvailableDay):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.AvailableDay)
            </div>
        </div>
        <div>
            <div class="label">
                @Html.DisplayNameFor(model => model.AvailableTime):
            </div>
            <div class="right-side">
                @Html.DisplayFor(modelItem => item.AvailableTime)
            </div>
        </div>
        <div>
            <div class="center">
                <button class="buttonLink">@Html.ActionLink("Edit", "Edit", new { id = item.SpecialistID })</button>
                <button class="buttonLink">@Html.ActionLink("Details", "Details", new { id = item.SpecialistID })</button>
                <button class="buttonLink">@Html.ActionLink("Delete", "Delete", new { id = item.SpecialistID })</button>
            </div>
        </div>
    </div>

    }
</div>

