﻿@model IEnumerable<HospitalProject.Models.Blogs>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Blogid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Blogid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Blogid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
